.app {
  text-align: center;
}

.content {
  padding: 40px 15px;
  text-align: center;
}

h1 {
  font-size: 60px;
  font-weight: 200;
  line-height: 1.5em;
  margin-bottom: 50px;
}

input.form-control {
  font-style: italic;
}

.center-block {
  float: none;
}

